form(id="ContactFrom", action="").contact-form
    .form-group
        label(for="name") Name*
        input(type="text" name="name").form-control
    //- input(type="text", required, pattern="", placeholder="Enter your username")