form(id="ContactFrom", action="").contact-form
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-no-padding
        .form-group
            label(for="name").field-title Name*
            input(type="text" name="name").form-control
            span.error This field is required
    .col-xs-12.col-sm-4.col-md-4.col-lg-4.row-no-padding
        .form-group
            label(for="phone").field-title Phone*
            input(type="text" name="phone").form-control
            span.error This field is required
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.row-no-padding
        .form-group.group-right
            label(for="email").field-title Email*
            input(type="text" name="email").form-control
            span.error This field is required
    .col-xs-12.col-sm-4.col-md-4.col-lg-4.row-no-padding
        .form-group
            label(for="method").field-title Preferred Contact Method/Time
            input(type="text" name="method").form-control
            span.error This field is required
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.row-no-padding
        .interest-in.group-right.row-no-padding
            p.field-title Interested In
            .col-md-4.col-sm-4.col-xs-4.col-lg-4.row-no-padding
                .form-group
                    .checkbox
                        input(type="checkbox" name="finance" id="finance").form-control
                        label(for="finance") Finance
            .col-md-4.col-sm-4.col-xs-4.col-lg-4
                .form-group
                    .checkbox
                        input(type="checkbox" name="leasing" id="leasing").form-control
                        label(for="leasing") Leasing
            .col-md-4.col-sm-4.col-xs-4.col-lg-4
                .form-group
                    .checkbox
                        input(type="checkbox" name="insurance" id="insurance").form-control
                        label(for="insurance") Insurance
    .col-xs-12.col-sm-4.col-md-4.col-lg-4.row-no-padding
        .form-group
            label(for="method").field-title Vehicle Interest
            input(type="text" name="vehicle").form-control
    .col-xs-12.col-sm-8.col-md-8.col-lg-8.row-no-padding
        .form-group.group-right
            label(for="method").field-title Enquiry
            input(type="text" name="enquiry").form-control
    .privacy
        p.field-title Privacy
        span At Mercedes-Benz Financial Services Singapore, a part of the Daimler Group, we share your concerns regarding privacy and data security. When you provide us with your personal information, we will only disclose such information within the Daimler Group of Companies, your authorised dealer network and/or service providers who are acting on our behalf. You can either view our privacy statement here or by contacting our Privacy Officer at mbfs_sg@daimler.com
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-no-padding
        .communication
            p.field-title Future Communications
            span In addition to the purpose of my enquiry, I provide my consent for MBFS, a part of the Daimler Group, our authorised dealer network and/or third party service providers to contact me for direct marketing purposes, including but not limited to newsletters, event notifications, invitations, updates and special offers from time to time. In relation to this, please communicate with me via:
            .communication-type.col-xs-12.col-sm-6.col-md-6.col-lg-6.row-no-padding
                .col-xs-4.col-sm-4.col-md-4.col-lg-4.row-no-padding
                    .form-group
                        .checkbox
                            input(type="checkbox" name="via-phone" id="via-phone").form-control
                            label(for="via-phone") Phone
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    .form-group
                        .checkbox
                            input(type="checkbox" name="via-email" id="via-email").form-control
                            label(for="via-email") Email
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    .form-group
                        .checkbox
                            input(type="checkbox" name="via-sms" id="via-sms").form-control
                            label(for="via-sms") SMS/MMS/IM
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-no-padding
        .message-plugin
            p.field-title Enter message as shown
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.row-no-padding
                .message-content
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.row-no-padding.btn-group
        button(type="submit" class="btn btn-primary") Submit
            img(src="../../images/arrow.png" alt="arrow" class="layer arrow")