.content-wrapper
  // Service
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Service Excellence
              .sub-title Focus on your core business operations and leave management of your fleet to us.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-servicing.svg', alt='Service')
                  p.service-text Fleet servicing and maintenance
                .service
                  img(src='../../images/icon/icon-key-account-management.svg', alt='Account')
                  p.service-text Key account management
                .service
                  img(src='../../images/icon/icon-bespoke.svg', alt='Bespoke')
                  p.service-text Bespoke mobility solutions
      .col-xs-12.col-sm-12.col-md-8
        .content-img
          img(src='../../images/Daimler_CPh2016_152_PPT.jpg', alt='Service')
  // End of service
  // Zero Downtime
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4.col-md-push-8
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Zero Downtime
              .sub-title
                | Maximize fleet utilization with 24-hour roadside assistance, providing vehicle pick-up and replacement.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-support-24.svg', alt='Support')
                  p.service-text 24/7 customer support
                .service
                  img(src='../../images/icon/icon-replacement-vehicle.svg', alt='24-hr roadside assistance')
                  p.service-text 24-hr roadside assistance
      .col-xs-12.col-sm-12.col-md-8.col-md-pull-4
        .content-img
          img(src='../../images/Daimler_CPh2016_151_PPT.jpg', alt='Service')
  // End Zero Downtime
  // Transparency
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Transparency and Predictability
              .sub-title One pre-determined vehicle usage cost for the duration of the lease term.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-off-balance-sheet.svg', alt='Off balance-sheet')
                  p.service-text Off balance-sheet 
                .service
                  img(src='../../images/icon/icon-zero-depreciation.svg', alt='Zero depreciation')
                  p.service-text Zero depreciation 
      .col-xs-12.col-sm-12.col-md-8
        .content-img
          img(src='../../images/Daimler_CPh2016_103.jpg', alt='Service')
  // End Transparency
