// Header
.corp-header
  .corp-link
    a(href="#") Individual
    span.divide
    a.active(href="#") Corporate
  .header-background
    .header-placeholder
      img(src="../../images/Daimler_CPh2016_110.jpg", alt="")
      .shadow
      .header-content
        h2 Driving Your Business Forward
        h3 
          | Explore our range of 
          span.highlight fleet 
          | solutions today
          
// Service Content
.corp-content-wrapper
  // Service
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Service Excellence
              .sub-title
                | Focus on your core business
                br
                | operations and leave management
                br
                | of your fleet to us.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-servicing.svg', alt='Service')
                  p.service-text Fleet servicing and maintenance
                .service
                  img(src='../../images/icon/icon-key-account-management.svg', alt='Account')
                  p.service-text Key account management
                .service
                  img(src='../../images/icon/icon-bespoke.svg', alt='Bespoke')
                  p.service-text Bespoke mobility solutions
      .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
        .content-img
          .content-img-placeholder
            img.img1(src='../../images/Daimler_CPh2016_152_PPT.jpg', alt='Service')
  // End of service
  // Zero Downtime
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4.col-md-push-8.push.content-text-wrapper
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Zero Downtime
              .sub-title
                .desktop
                  | Maximise fleet utilization with around-the-
                  br
                  | clock support and assistance, providing
                  br
                  | vehicle pick-up and replacement.
                .tablet
                  | Maximise fleet utilization with
                  br
                  | around-the-clock support and
                  br
                  | assistance, providing vehicle
                  br
                  | pick-up and replacement.
                .mobile
                  | Maximise fleet utilization with
                  br
                  | around-the-clock support and
                  br
                  | assistance, providing vehicle
                  br
                  | pick-up and replacement.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-support-24.svg', alt='Support')
                  p.service-text 24/7 customer support
                .service
                  img(src='../../images/icon/icon-replacement-vehicle.svg', alt='24-hr roadside assistance')
                  p.service-text 24-hr roadside assistance
      .col-xs-12.col-sm-12.col-md-8.col-md-pull-4.pull.content-img-wrapper
        .content-img
          .content-img-placeholder
            img.img2(src='../../images/Daimler_CPh2016_151_PPT.jpg', alt='Service')
  // End Zero Downtime
  // Transparency
  .content
    .row
      .col-xs-12.col-sm-12.col-md-4.content-text-wrapper
        .content-text
          .row
            .col-xs-12.col-sm-6.col-md-12
              .title Transparency and Predictability
              .sub-title
                .desktop
                  | One pre-determined vehicle usage cost
                  br
                  | for the duration of the lease term.
                .tablet
                  | One pre-determined vehicle
                  br
                  | usage cost for the duration
                  | of the lease term.
                .mobile
                  | One pre-determined vehicle
                  br
                  | usage cost for the duration of
                  br
                  | the lease term.
            .col-xs-12.col-sm-6.col-md-12
              .service-list
                .service
                  img(src='../../images/icon/icon-off-balance-sheet.svg', alt='Off balance-sheet')
                  p.service-text Off balance-sheet 
                .service
                  img(src='../../images/icon/icon-zero-depreciation.svg', alt='Zero depreciation')
                  p.service-text Zero depreciation 
      .col-xs-12.col-sm-12.col-md-8.content-img-wrapper
        .content-img
          .content-img-placeholder
            img.img3(src='../../images/Daimler_CPh2016_103.jpg', alt='Service')
  // End Transparency
  .cta-content-bottom
    .background-img
      img(src='../../images/Daimler_CPh2016_121.jpg', alt='Request for callback')
    .top-shadow
    .bottom-shadow
    .cta-content
      p 
        | Tell us where you want to go.
        br
        | We’ll plan how you get there safely.
      button.cta-btn
        p Request for callback
          i.icon.chevron-left
