header(id="header", class="header")
	block NAVIGATION	
		include ../Navigation/index
	
	div(class="fa-hover col-md-3 col-sm-4")
		i(class="fa fa-address-book" aria-hidden="true")
		span(class="sr-only") Example of 
		| &nbsp; address-book
		
	
