footer.page-footer
	.footer-icon
		.footer-item
			img(src="../../images/icon/icon-facebook.svg", alt="Facebook")
		.footer-item
			img(src="../../images/icon/icon-invision.svg", alt="Invision")
	.footer-content
		p
			| © 2017 Daimler Fleet Management Singapore. All Rights Reserved. | 
			a(href="#") Legal Notice 
			| | 
			a(href="#") Disclaimer