$DaimlerCAC-Regular     : 'DaimlerCAC-Regular', Helvetica, Arial, sans-serif;
$DaimlerCS-Demi         : 'DaimlerCS-Demi', Helvetica, Arial, sans-serif;
$DaimlerCS-Light        : 'DaimlerCS-Light', Helvetica, Arial, sans-serif;
$DaimlerCS-Regular      : 'DaimlerCS-Regular', Helvetica, Arial, sans-serif;
$CorporateA-Bold        : 'CorporateA-Bold', Helvetica, Arial, sans-serif;
$CorporateA-BoldItalic  : 'CorporateA-BoldItalic', Helvetica, Arial, sans-serif;
$CorporateA-Demi        : 'CorporateA-Demi', Helvetica, Arial, sans-serif;
$CorporateA-DemiItalic  : 'CorporateA-DemiItalic', Helvetica, Arial, sans-serif;
$CorporateA-Light       : 'CorporateA-Light', Helvetica, Arial, sans-serif;
$CorporateA-LightItalic : 'CorporateA-LightItalic', Helvetica, Arial, sans-serif;
$CorporateA-Regular     : 'CorporateA-Regular', Helvetica, Arial, sans-serif;
$CorporateACon-Bol      : 'CorporateACon-Bol', Helvetica, Arial, sans-serif;
$CorporateACon-BolIta   : 'CorporateACon-BolIta', Helvetica, Arial, sans-serif;
$CorporateACon-Reg      : 'CorporateACon-Reg', Helvetica, Arial, sans-serif;
$CorporateACon-RegIta   : 'DaimlerCAC-Regular', Helvetica, Arial, sans-serif;

body {
    background-repeat: no-repeat;
    background-position: center 0;
    font-family: $DaimlerCS-Regular;
    -webkit-font-smoothing: antialiased;
    color: $mercedes-white;
    // background-image: url('../images/1024.jpg');
}

.mercedes-gold-color { color: $mercedes-gold; }

.desktop, .tablet {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: $screen-sm-min) {
    .tablet {
        display: block;
    }
    .mobile, .desktop {
        display: none;
    }
}

@media (min-width: $screen-md-min) {
    .desktop {
        display: block;
    }
    .mobile, .tablet {
        display: none;
    }
}

.mercedes-gold-color { color: $mercedes-gold; }
.mercedes-daimlercac-regular-font { font-family: $DaimlerCAC-Regular; }
.mercedes-daimlercs-demi-font { font-family: $DaimlerCS-Demi; }
.mercedes-daimlercs-light-font { font-family: $DaimlerCS-Light; }
.mercedes-daimlercac-regular-font { font-family: $DaimlerCS-Regular; }
.mercedes-corporatea-bold-font { font-family: $CorporateA-Bold; }
.mercedes-corporatea-bolditalic-font { font-family: $CorporateA-BoldItalic; }
.mercedes-corporatea-demi-font { font-family: $CorporateA-Demi; }
.mercedes-corporatea-demiitalic-font { font-family: $CorporateA-DemiItalic; }
.mercedes-corporatea-light-font { font-family: $CorporateA-Light; }
.mercedes-corporatea-lightitalic-font { font-family: $CorporateA-LightItalic; }
.mercedes-corporatea-regular-font { font-family: $CorporateA-Regular ; }
.mercedes-corporateacon-bol-font { font-family: $CorporateACon-Bol; }
.mercedes-corporateacon-bolita-font { font-family: $CorporateACon-BolIta; }
.mercedes-corporateacon-reg-font { font-family: $CorporateACon-Reg; }
.mercedes-corporateacon-regita-font { font-family: $CorporateACon-RegIta; }
